@(classRecord: ClassRecord)
<!DOCTYPE HTML>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
        <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <script type="text/javascript">
            function createTeam() {
                var newTeam = $$("myform").getValues();
                $.ajax({
                    url: '/createTeam',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(newTeam),
                    contentType: 'application/json',
                    success: function(data, textStatus, jgXHR) {
                        alert(data);
                        location.href = '/profile';
                    }, error: function(request, status, error) {
                        alert(request.responseText);
                    }
                });
            };

            webix.ready(function () {
                webix.ui({
                    view:"form",
                    id: "myform",
                    width: 600,
                    elements:[
                        { view:"fieldset", label:"Create Team for @classRecord.classID (@classRecord.className)", body:{
                            rows:[
                                { name:"teamName", view:"text", label:"Team Name (1-25 alphanumeric chars)", labelWidth:280, attributes:{ maxlength :25 }},
                                { name:"teamID", view:"text", type:"password", label:"Team ID (1-25 alphanumeric chars)", labelWidth:280, attributes:{ maxlength :25 }}
                            ]
                        }},
                        { margin:5, cols:[
                                {id:"btnMakeTeam", view:"button", type:"form", value:"Create Team", click:"createTeam()"},
                                {id:"btnCancelAdd", view:"button", value:"Cancel", click:"location.href='/profile'"}
                            ]
                        }
                    ]
                });
            });
        </script>
    </body>
</html>