@import helper._
@import com.fasterxml.jackson.databind.JsonNode
@(errorNote: JsonNode)
<table align = center width=743 bgcolor=#000000>
    <td>
        <button onclick="window.location='@routes.Account.logoutUser()';" value="logout">Logout</button>
        <button onclick="window.location='@routes.Profile.viewProfile()';" value="update">View Profile</button>
        <BR/></BR>
        </tr>
</table>
<br>
<br>
<table align = center width = 743 bgcolor="#FFFFFF"><td><Font color="#E80000">@errorNote.asText()</Font></tr></table>