@(serviceForm : Form[UserAccount]) <!-- Form uses Account model -->
@import helper._
@main("Forgot Password") { <!--Passed into main.scala.html as the page title-->
  <!--Passed into main.scala.html as the content-->
  <table align = center width=275 bgcolor=#000000>
    <td><button onclick="window.location='@routes.Account.signIn()';" value="login">Login</button>
      <BR/></BR></tr>
  </table>
  @helper.form(action = routes.Account.signIn(), 'id -> "Forgot") {
    <style type='text/css'>
    body{
    color:#000000; background-color:#ffffff;
    font-family:arial, verdana, sans-serif; font-size:12pt;}

    fieldset {
    margin:auto;
    font-size:12px;
    padding:10px;
    width:250px;
    line-height:1.8;}
    </style>
    <fieldset>
      <legend>Create Account</legend>
      @helper.inputText(serviceForm.field("username"), '_label -> "E-mail:", '_class -> "username-field")
      <input type="submit" value="Send Password"/><!-- Once user clicks submit button, goes to routes.Account.createUser() -->
    </fieldset>
  }
}