@(services: List[Notifications])
@main("Notifications") {
    <table>
        <thead>
            <tr>
                <th>MessageID</th>
                <th>Class</th>
                <th>Team</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(service <- services) {
                <tr>
                    <td>@service.notifID</td>
                    <td>@service.classID</td>
                    <td>@service.teamID</td>
                    <td>@service.message</td>
                    <td>Action</td>
                </tr>
            }
        </tbody>
    </table>
}