@(services: List[Notifications])
@main("Notifications") {
    <body>
    <table>
        <thead>
            <tr>
                <th>MessageID</th>
                <th>Class</th>
                <th>Team</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for(service <- services) {
                <tr>
                    <script>
                    if (@service.messageType == 1) {
                        document.write("Hi");
                    } else if (@service.messageType == 2) {
                        document.write("Bye");
                    } else if (@service.messageType == 3) {
                        document.write("Sai");
                    }

                    </script>
                    <div id="node-id"></div>

                </tr>
            }
        </tbody>
    </table>
    </body>
}