@(userProfile: UserProfile, userAccount: UserAccount, notifList: List[Notification], message: String)
<!DOCTYPE HTML>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
	<script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	</script>
</head>
<body>

<script type="text/javascript">

function createClassForms() {

  @for(classId <- userAccount.getClassList()) {
    $$('classForms').addView({
          id:"frm@classId",
          view:"form",
          elements:[
              { view:"label", label:"@classId"},
              @if(userAccount.getTeamRecord(classId) != null) {
              { view:"label", label:"Team @userAccount.getTeamRecord(classId).teamName: @userAccount.getTeamRecord(classId).teamMembers"},
              }
              { margin:5, cols:[
                  { id: "btnTeamSearch@classId",
                    view:"button",
                    value:"Team Search", 
                    type:"form",
                    click:"location.href='/setCurrentClass?classId=@classId'"
                  },
                  { id: "btnLeaveTeam@classId",
                    view:"button",
                    value:"Leave Team", 
                    type:"form",
                    click:"location.href='/leaveTeam?classId=@classId'"
                  },
                  { id: "btnLeaveClass@classId",
                    view:"button",
                    value:"Leave Class", 
                    type:"form",
                    click:"location.href='/leaveClass?classId=@classId'"
                  },
                  { id: "bthShowTeam@classId",
                    view:"button",
                    value:"Show Team Details",
                    type:"form",
                    click:"location.href='/teamDetails?classId=@classId'"
                  }
              ]}
          ]
      }, -1);
  }
}

function checkNotifs() {
  @if(notifList.isEmpty) {

  } else {
    $$("menuBar").add({id:"3", value:"Notifications", href:"/notifs"});
  }
}

webix.ready(function () {
    webix.ui({
      rows:[
          { view:"template",
            type:"header", template:"Profile" },
          { id:"menuBar", view:"menu", data:[
            {id:"1", value:"Logout", href:"/logout"},
            {id:"2", value:"Update Profile", href:"/update"}
          ]},
          {view:"template", id:"announcements", template:"@message", autoheight:true},
          { view:"template", autoheight:true, template:"<h1>@userProfile.username</h1><br/>E-mail: @userProfile.email<br/>Description: @userProfile.description", attributes:{ maxlength :255 } },
          {
            id: "classForms", rows: []
          }
      ]
    });

    createClassForms();
    checkNotifs();
    checkMessages();
});

</script>
</body>
</html>
