@(userProfile: UserProfile, userAccount: UserAccount, notifList: List[Notification])
<!DOCTYPE HTML>
<html>
<head>
	<title>Profile</title>
	<link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
	<script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	</script>
</head>
<body>
<script type="text/javascript">


function createForm(classId) {
    return 
}

function createClassForms() {
  "@userAccount.allClasses".split('|').forEach(function (classId) {
    $$('classForms').addView({
          view:"form",
          elements:[
              { view:"label", label:classId},
              { margin:5, cols:[
                  { id: "btnTeamSearch" + classId, view:"button", value:"Team Search", type:"form" }
              ]}
          ]
      }, -1);
  });
}

webix.ready(function () {
    webix.ui({
      rows:[
          { view:"template",
            type:"header", template:"Profile" },
          { view:"menu", data:[
            {id:"1", value:"Logout", href:"/logout"},
            {id:"2", value:"Update Profile", href:"/update"}
          ]},
          { view:"template", template:"<h1>@userProfile.username</h1>" },
          { view:"template", template:"@userProfile.email" },
          { view:"template", template:"@userProfile.description" },
          {
            id: "classForms", rows: []
          }
      ]
    });

    createClassForms();
});

</script>
</body>
</html>
