@(teamRecord: TeamRecord, teamProfile: List[UserProfile])
<!DOCTYPE HTML>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
        <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <script type="text/javascript">
            function addMember() {
                @for(teamMember <- teamProfile.listIterator()) {
                    $$('teamForm').addView({
                        id:"frm@teamMember",
                        view: "form",
                        elements:[
                            {view:"label", label:"Name: @teamMember.username"},
                            {view:"label", label:"Description: @teamMember.description"},
                            {view:"label", label:"Rating: to be added" }
                        ]
                    }, -1);
                }
            }

            webix.ready(function () {
            webix.ui({
                rows:[
                    { view:"template", type:"header", template:"Team Search for @teamRecord.thisClass" },
                    { id:"menuBar", view:"menu", data:[
                        {id:"1", value:"Logout", href:"/logout"},
                        {id:"2", value:"Profile", href:"/profile"}
                    ]},
                    {
                        view:"form",
                        id: "myform",
                        elements:[
                            { view:"fieldset", label:"Current Team", body:{
                            rows:[
                                {
                                    view:"label", label:"Team Name: @teamRecord.teamName"
                                },
                                {
                                    id: "teamForm", rows: []
                                }
                            ]
                            }},
                            { margin:5, cols:[
                                {id:"btnAccept", view:"button", type:"form", value:"Accept", click:"accept()"},
                                {id:"btnReject", view:"button", type:"form", value:"Reject", click:"reject()"}
                                ]
                            }
                        ]
                    }
                ]
            });
            addMember();
        });
        </script>
    </body>
</html>
