@(userProfile: UserProfile)
<!DOCTYPE HTML>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="http://cdn.webix.com/edge/webix.css" type="text/css">
        <script src="http://cdn.webix.com/edge/webix.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <script type="text/javascript">
        function update() {
            alert("update!");
        }

        webix.ready(function () {
            webix.ui({
                rows:[
                    { view:"template", type:"header", template:"Update Profile" },
                    { id:"menuBar", view:"menu", data:[
                        {id:"1", value:"Logout", href:"/logout"},
                        {id:"2", value:"Profile", href:"/profile"}
                    ]},
                    {
                        view:"form",
                        id: "myform",
                        elements:[
                            { view:"fieldset", label:"Update Profile", body:{
                            rows:[
                                { name:"email", view:"text", label:"E-mail (max 40 chars)", labelWidth:250, attributes:{ maxlength :40 }},
                                { name:"picture", view:"text",label:"Picture URL (max 250 chars)", labelWidth:250, attributes:{ maxlength :250 }},
                                { name:"description", view:"text", label:"Description (max 250 chars)", labelWidth:250, attributes:{ maxlength :250 }}
                            ]
                            }},
                            { margin:5, cols:[
                                {id:"btnSignUp", view:"button", type:"form", value:"Update", click:"update()"},
                                {id:"btnLogin", view:"button", value:"Cancel", click:"location.href='/profile'"}
                                ]
                            },
                        ]
                    },
                    {view:"radio", label:"Add Class", value:1, options:[
                        {id:1, value:"Class1"},
                        {id:2, value:"Class2"}
                    ]},
                    {view:"template", id:"announcements", template:"Hi", autoheight:true}
                ]
            });
        });
        </script>
    </body>
</html>
