@(userProfile: UserProfile)
@import helper._
@import com.fasterxml.jackson.databind.JsonNode
@main("Update Profile") {
    <table align = center width=275 bgcolor=#000000>
        <td><button onclick="window.location='@routes.Account.logoutUser()';" value="logout">Logout</button>
            <BR/></BR></tr>
    </table>
	<style type='text/css'>
        body{
            color:#000000; background-color:#ffffff;
            font-family:arial, verdana, sans-serif; font-size:12pt;}

        fieldset {
            margin:auto;
            font-size:12px;
            padding:10px;
            width:250px;
            line-height:1.8;}
    </style>
    <!--Passed into main.scala.html as the content-->
		@helper.form(action = routes.Profile.updateProfile(), 'id -> "UpdateProfile") {
            <fieldset>
                <legend>Update Profile</legend>
                E-mail:<br>
                <input type="text" name="email" value="@userProfile.email"><br><br>
                Picture URL:<br>
                <input type="text" name="pictureURL" value="@userProfile.pic_url"><br><br>
                Description:<br>
                <input type="text" name="description" value="@userProfile.description"><br><br>
                <input type="submit" value="Change"/>
            </fieldset>
        }
	
	<BR>

        @helper.form(action = routes.Profile.addClass(), 'id -> "AddClass") {
            <fieldset>
                <legend>Add Class</legend>
                <input type="text" name="classID" value="" />
                <input type="submit" value="Add"/>
            </fieldset>
        }
}
