@(serviceForm : Form[UserProfile])
@import helper._
@import com.fasterxml.jackson.databind.JsonNode
@main("Update Profile") {
    <table align = center width=275 bgcolor=#000000>
        <td><button onclick="window.location='@routes.Account.logoutUser()';" value="logout">Logout</button>
            <BR/></BR></tr>
    </table>
	<style type='text/css'>
        body{
            color:#000000; background-color:#ffffff;
            font-family:arial, verdana, sans-serif; font-size:12pt;}

        fieldset {
            margin:auto;
            font-size:12px;
            padding:10px;
            width:250px;
            line-height:1.8;}
    </style>
    <!--Passed into main.scala.html as the content-->
		@helper.form(action = routes.Profile.updateProfile(), 'id -> "UpdateProfile") {
            <fieldset>
                <legend>Update Profile</legend>
                E-mail:<br>
                <input type="text" name="email"><br>
                <br>
                Picture URL:<br>
                <input type=""text" name="pictureURL"><br><br>
                    Description:<br>
                    <input type=""text" name="description"><br><br>
                <input type="submit" value="Change"/>
            </fieldset>
        }
	
	<BR>
	
	<fieldset>
	<legend>Add Class</legend>
		@helper.form(action = routes.Profile.addClass(), 'id -> "AddClass") {
            @helper.inputText(serviceForm.field("classID"), '_label -> "Class ID:", '_class -> "classID-field")
			@helper.inputText(serviceForm.field("className"), '_label -> "Class Name:", '_class -> "className-field")
		}
		<input type="submit" value="Search"/> <!-- Once user clicks submit button, goes to routes.Account.createUser() -->
	</fieldset>

}
